<body>
	{{> feed }}
</body>

<template name="feed">
	<ul class="feed">
		{{#each feeds}}
			<li class="feed-item">
				{{domain}} : {{name}} : {{user}} : {{message}}
			</li>
		{{/each}}
	</ul>
</template>